<%= render 'users/nav' %>

<h1>Welcome <%= current_user.first_name %></h1>

<div class="form-group search-bar center-block">
  <input type="search" name="search" class="form-control" id="search" placeholder="What do you need help with?">
</div>